@mixin all-notices($d) {
  // Standard notices.
  div.error:not(.inline):not(.below-h2),
  div.updated:not(.inline):not(.below-h2),
  div.notice:not(.inline):not(.below-h2),
  // Update nag.
  div.update-nag {
    display: $d;
  }

}
/*@mixin all-notices($d) {
  div.error:not(.notice),
  div.updated:not(.notice),
  div.notice:not(.updated):not(.error),
  div.update-nag,
  div#message:not(.notice):not(.updated):not(.error),
  form > div.error,
  form > div.updated:not(.notice),
  form > div.notice:not(.updated),
  form > div#message:not(.notice):not(.updated) {
    display: $d !important;
    border: 5px solid red !important;
  }
}*/